* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1f242d;
    display: flex;
    height: 100vh;
    color: white
}

.content-photo form {
    /* position: absolute; */
    transition: .5s;
}

.photo-update {
    /* height: 270px;
    width: 700px; */

    /* height: 270px;
    width: 700px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-update .wrapper {
    height: 150px;
    background: #1f242d;
    width: 150px;
    border: 1px dashed grey;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 19px -5px black;
}

.wrapper.active {
    border: 1px solid #1f242d;
    box-shadow: 0 10px 19px -5px black;
}


.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img {
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.wrapper .icon {
    font-size: 100px;
    color: rgb(246, 246, 246);
}

.wrapper .text {
    font-size: 7px;
    font-weight: 500;
    color: wheat;
}

.wrapper #cancel-btn {
    position: absolute;
    right: 21px;
    top: 38px;
    font-size: 35px;
    cursor: pointer;
    color: red;
    display: none;
}

.wrapper.active:hover #cancel-btn {
    display: block;
}

.photo-update #custom-btn {
    font-size: 12px;
    margin-top: 30px;

    background-color: white;
    box-shadow: 0 0 3px white;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 125px;
    height: 35px;
    margin: 0 10px;
    border-radius: 8px;
    outline: none;
    color: black;
    cursor: pointer;
    border: none;
    background-color: #00eeff;
    box-shadow: 0 0 3px #0ef;
    font-weight: 800;
    font-size: 12px;
}


button:hover {
    background: white;
    box-shadow: 0 0 5px white;
}


#custom-btn:hover {
    background: #00eeff;
    box-shadow: 0 0 5px #00eeff;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
    color: wheat;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 30px;
    color: #00eeff;
}

.config-photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.config-photo.active {
    display: block;
}